<div class="pgGrid-cell--12 editors__module pgGrid pgGrid--noGutters pgBorder-top">

    <h3 class="pgGrid-cell--12">Editors’ picks</h3>

    <div class="editors__module__unit pgGrid-cell--6 pgGrid-md--12 pgGrid pgGrid--noGutters">

        <div class="editors__module__unit__image pgGrid-cell--6 pgGrid-sm--12">
            <a href="https://www.washingtonpost.com/entertainment/books/the-best-fiction-books-of-2015/2015/11/18/1d754430-7902-11e5-b9c1-f03c48c96ac2_story.html">
                <img src="img/best_day_JuliaRothman.png"/>
            </a>
        </div>

        <div class="editors__module__unit__text pgGrid-cell--6 pgGrid-sm--12">
            <h4><a href="https://www.washingtonpost.com/entertainment/books/the-best-fiction-books-of-2015/2015/11/18/1d754430-7902-11e5-b9c1-f03c48c96ac2_story.html">Notable fiction books of 2015</a></h4>
            <p>Crime, history, escape, romance, the supernatural — from novelists both new and seasoned.</p>
        </div>

    </div>

    <div class="editors__module__unit pgGrid-cell--6 pgGrid-md--12 pgGrid pgGrid--noGutters">

        <div class="editors__module__unit__image pgGrid-cell--6 pgGrid-sm--12">
            <a href="http://www.washingtonpost.com/entertainment/books/the-best-nonfiction-of-2015/2015/11/18/326c89e8-7902-11e5-b9c1-f03c48c96ac2_story.html"><img src="img/best_night_JuliaRothman.png" /></a>
        </div>

        <div class="editors__module__unit__text pgGrid-cell--6 pgGrid-sm--12">
            <h4><a href="http://www.washingtonpost.com/entertainment/books/the-best-nonfiction-of-2015/2015/11/18/326c89e8-7902-11e5-b9c1-f03c48c96ac2_story.html">Notable nonfiction books of 2015</a></h4>
            <p>“Aurora,” “The Fifth Season,” “Three Moments of an Explosion” and more.</p>
        </div>

    </div>

    <span class='divider__line'></span>

    <div class="editors__module__unit pgGrid-cell--6 pgGrid-md--12 pgGrid pgGrid--noGutters">

        <div class="editors__module__unit__image pgGrid-cell--6 pgGrid-sm--12">
            <a href="https://www.washingtonpost.com/entertainment/books/the-best-romance-novels-of-2015/2015/11/18/5d661010-7902-11e5-b9c1-f03c48c96ac2_story.html"><img src="img/Romance_JuliaRothman.jpg"/></a>
        </div>

        <div class="editors__module__unit__text pgGrid-cell--6 pgGrid-sm--12">
            <h4><a href="https://www.washingtonpost.com/entertainment/books/the-best-romance-novels-of-2015/2015/11/18/5d661010-7902-11e5-b9c1-f03c48c96ac2_story.html">Best romance novels of 2015</a></h4>
            <p>Books by Sonali Dev, Joanna Shupe, Kate Meader, Alisha Rai and Emma Chase are standouts.</p>
        </div>

    </div>

        <div class="editors__module__unit pgGrid-cell--6 pgGrid-md--12 pgGrid pgGrid--noGutters">

            <div class="editors__module__unit__image pgGrid-cell--6 pgGrid-sm--12">
                <a href="https://www.washingtonpost.com/entertainment/books/best-poetry-collections-of-2015/2015/11/18/400e8fe2-7902-11e5-b9c1-f03c48c96ac2_story.html"><img src="img/poetry_JuliaRothman.jpg"/></a>
            </div>

            <div class="editors__module__unit__text pgGrid-cell--6 pgGrid-sm--12">
                <h4><a href="https://www.washingtonpost.com/entertainment/books/best-poetry-collections-of-2015/2015/11/18/400e8fe2-7902-11e5-b9c1-f03c48c96ac2_story.html">Best poetry collections of 2015</a></h4>
                <p>Works by Tony Hoagland, Yusef Komunyakaa, Rowan Ricardo Phillips, Amy Gerstler and Juan Felipe Herrera.</p>
            </div>
        </div>
   <span class='divider__line'></span>

    <div class="editors__module__unit pgGrid-cell--6 pgGrid-md--12 pgGrid pgGrid--noGutters">

        <div class="editors__module__unit__image pgGrid-cell--6 pgGrid-sm--12">
            <a href="https://www.washingtonpost.com/entertainment/books/the-best-mysteries-and-thrillers-of-2015/2015/11/18/6903647c-7902-11e5-b9c1-f03c48c96ac2_story.html"><img src="img/mysteries_JuliaRothman.jpg"/></a>
        </div>

        <div class="editors__module__unit__text pgGrid-cell--6 pgGrid-sm--12">
            <h4><a href="https://www.washingtonpost.com/entertainment/books/the-best-mysteries-and-thrillers-of-2015/2015/11/18/6903647c-7902-11e5-b9c1-f03c48c96ac2_story.html">Best mystery books and thrillers of 2015</a></h4>
            <p>Suspenseful works from Elizabeth George, Sara Paretsky, Ruth Rendell, John Grisham and Richard Price.</p>
        </div>

    </div>

    <div class="editors__module__unit pgGrid-cell--6 pgGrid-md--12 pgGrid pgGrid--noGutters">

        <div class="editors__module__unit__image pgGrid-cell--6 pgGrid-sm--12">
            <a href="https://www.washingtonpost.com/entertainment/books/the-best-science-fiction-and-fantasy-books-of-2015/2015/11/18/4d65d9e8-7902-11e5-b9c1-f03c48c96ac2_story.html"><img src="img/ScienceFiction_JuliaRothman.jpg" /></a>
        </div>

        <div class="editors__module__unit__text pgGrid-cell--6 pgGrid-sm--12">
            <h4><a href="https://www.washingtonpost.com/entertainment/books/the-best-science-fiction-and-fantasy-books-of-2015/2015/11/18/4d65d9e8-7902-11e5-b9c1-f03c48c96ac2_story.html">Best science fiction and fantasy books of 2015</a></h4>
            <p>“Aurora,” “The Fifth Season,” “Three Moments of an Explosion” and more.</p>
        </div>

    </div>

       <span class='divider__line'></span>

    <div class="editors__module__unit pgGrid-cell--6 pgGrid-md--12 pgGrid pgGrid--noGutters">

        <div class="editors__module__unit__image pgGrid-cell--6 pgGrid-sm--12">
            <a href="http://www.washingtonpost.com/entertainment/books/best-audiobooks-of-2015/2015/11/18/753e11c4-7902-11e5-b9c1-f03c48c96ac2_story.html"><img src="img/Audio_JuliaRothman.jpg"/></a>
        </div>

        <div class="editors__module__unit__text pgGrid-cell--6 pgGrid-sm--12">
            <h4><a href="http://www.washingtonpost.com/entertainment/books/best-audiobooks-of-2015/2015/11/18/753e11c4-7902-11e5-b9c1-f03c48c96ac2_story.html">Best audiobooks of 2015</a></h4>
            <p>Among the top five are “The Tsar of Love and Techno” and a collection of short stories in "Honeydew: Stories.”</p>
        </div>

    </div>

    <div class="editors__module__unit pgGrid-cell--6 pgGrid-md--12 pgGrid pgGrid--noGutters">

        <div class="editors__module__unit__image pgGrid-cell--6 pgGrid-sm--12">
            <a href="https://www.washingtonpost.com/entertainment/books/best-graphic-novels-of-2015/2015/11/18/89086376-7902-11e5-b9c1-f03c48c96ac2_story.html"><img src="img/Graphic.jpg" /></a>
        </div>

        <div class="editors__module__unit__text pgGrid-cell--6 pgGrid-sm--12">
            <h4><a href="https://www.washingtonpost.com/entertainment/books/best-graphic-novels-of-2015/2015/11/18/89086376-7902-11e5-b9c1-f03c48c96ac2_story.html">Best graphic novels of 2015</a></h4>
            <p>Among the top five are the second volume of a civil rights icon’s journey and a revisiting of “Sandman.”</p>
        </div>

    </div>

</div>