<div class="pgAdditionalInfo">
    <div class="pgShare pgShare-header">
    
        <a class="pgShare-buton pgShare-button--email" href="mailto:?subject={{ pub_metadata_headline }} {{ pub_metadata_url }}"><span class="pgNotVisible">Share by Email</span><i class="fa fa fa-envelope"></i></a>
        <a class="pgShare-buton pgShare-button--twitter" href="http://twitter.com/intent/tweet?text={{ pub_metadata_headline }}%20{{ pub_metadata_short_url }}%20via%20@washingtonpost "><span class="pgNotVisible">Share on Twitter</span><i class="fa fa-twitter"></i></a>
        <a class="pgShare-buton pgShare-button--facebook" href="https://facebook.com/dialog/feed?app_id=41245586762&link={{ pub_metadata_url }}&name={{ pub_metadata_headline }}&redirect_uri={{ pub_metadata_url }}"><span class="pgNotVisible">Share on Facebook</span><i class="fa fa-facebook"></i></a>
    
    </div>
</div>